@media all and (min-width:1281px){
    
    
    body{
        background-image: url(obrazky/pozadi.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }


    #stranka{
        width: 1280px;
    }
}

@media all and (max-width:1280px){
    ul li {
        display: none;
    }

    #obsah{
       
        font-size: 17px;   
    }
    
}
* {
    margin: 0;
    padding: 0;
}
main{
    background-color: white;
}
header,footer {
    color: black;
    padding: 20px;
    text-align: center;
    clear: both;
}
#obsah{
    background-color: white;
    text-align: center;
    font-size: 25px;
    display: grid;
}
#stranka{
    margin: 0 auto;
    background-color: white;
}

header{
    background-color: white;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
}
h1{
    font-size: 70px;
}

h1,h2{
    padding-bottom: 40px;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color:lightskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(75, 183, 250);
  }
  
  div {
    background-color: #f2f2f2;
    padding: 40px;
  }